@font-face {
  font-family: 'Caslon Antique';
  src: url('/fonts/CaslonAntique-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Caslon Antique';
  src: url('/fonts/CaslonAntique.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Harry Potter';
  src: url('/fonts/Harry-Potter.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
